[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/p10k"]
	path = zsh/p10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
[submodule "dotbot-if"]
	path = dotbot-plugins/dotbot-if
	url = https://github.com/wonderbeyond/dotbot-if.git
